<a href="https://colab.research.google.com/github/apal9569/Banking_Behaviour/blob/master/Banking_behaviour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
cd drive/My\ Drive

/content/drive/My Drive

In [0]:
!unzip d407ebe0db9a11e9.zip -d HDFC

Archive:  d407ebe0db9a11e9.zip
   creating: HDFC/DataSet/
  inflating: HDFC/DataSet/Train.csv
  inflating: HDFC/DataSet/Sample_submission.csv
  inflating: HDFC/DataSet/Test.csv

In [0]:
cd HDFC/DataSet

/content/drive/My Drive/HDFC/DataSet

In [0]:
!ls

Sample_submission.csv  Test.csv  Train.csv

In [0]:
import pandas as pd
import numpy as np
from sklearn.ensemble import ExtraTreesClassifier

In [0]:
train=pd.read_csv('Train.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
train.shape

(17521, 2395)

In [0]:
train.head()

        Col1  Col2          Col3  ...  Col2395  Col2396  Col2397
0    RIGHGSN     1  1.086711e+04  ...     22.0     22.0      7.0
1  RIMHI5ZGP     0  2.584312e+05  ...     12.0     12.0     11.0
2  RIHOG1SZU     0  1.459355e+07  ...     21.0     21.0     16.0
3  RIHOLMQWU     0  6.727043e+05  ...    951.0    951.0    743.0
4  RIHO584ET     0 -1.218742e+06  ...   2205.0   2205.0   1831.0

[5 rows x 2395 columns]

In [0]:
nan_col_before=train.columns[train.isna().any()].tolist()

In [0]:
num_nan_before=train[nan_col_before].isna().sum()

In [0]:
drop_col=train.columns[train.isna().sum()>1000].tolist()

In [0]:
train['Col2'].value_counts()

0    15760
1     1761
Name: Col2, dtype: int64

In [0]:
label=train['Col2']

In [0]:
train=train.drop(columns=['Col1','Col2'])

In [0]:
train=train.drop(columns=drop_col)

In [0]:
train.shape

(17521, 1635)

In [0]:
nan_col_after=train.columns[train.isna().any()].tolist()
num_nan_after=train[nan_col_after].isna().sum()

In [0]:
nan_col_after,num_nan_after

(['Col27'], Col27    682
 dtype: int64)

In [0]:
mean=train[nan_col_after].mean(axis=1)
train=train.fillna(method='ffill')
train.isna().any().sum()

0

In [0]:
model = ExtraTreesClassifier()
model.fit(train,label)
  
feat_importances = pd.Series(model.feature_importances_, index=train.columns)
imp_columns=feat_importances.nlargest(150).index

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [0]:
train1=train[imp_columns]

In [0]:
train1.head()

   Col36     Col27  Col127  Col160  ...          Col4  Col1186  Col1184     Col194
0      6  0.260428       1      14  ...  8.648345e+03        2        2  32.666667
1      5  1.414214       0       2  ...  2.179633e+05        0        3   0.600000
2      4  1.414214       0       0  ...  1.260060e+07        0        3  12.800000
3      4 -1.414214       0       0  ...  8.181116e+05        0        3  17.800000
4      4  1.414214       0       8  ... -3.005361e+06        0        3   0.000000

[5 rows x 150 columns]

In [0]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split

In [0]:
trainx,valx,trainy,valy=train_test_split(train1,label,test_size=0.1)

In [0]:
model=XGBClassifier(max_depth=6,learning_rate=0.15,gamma=0.15)
model.fit(trainx,trainy)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0.15,
              learning_rate=0.15, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [0]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(valx)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(valy, predictions)

In [0]:
accuracy

0.8881916714204221

In [0]:
test=pd.read_csv('Test.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
test.shape

(20442, 2394)

In [0]:
test.head()

        Col1          Col3          Col4  ...  Col2395  Col2396  Col2397
0  RIGD58ZWD  8.167140e+04  8.614542e+04  ...     41.0     41.0     36.0
1  RIH660YDS -1.362824e+07 -4.493043e+06  ...    154.0    153.0     86.0
2  RIH660Q96  1.302700e+06  1.341449e+06  ...      3.0      1.0      1.0
3  RIYDO15W1  1.932258e+05  1.454433e+05  ...      7.0      7.0      3.0
4  RIYBGC1ZD  3.913385e+05  1.987337e+05  ...      6.0      6.0      5.0

[5 rows x 2394 columns]

In [0]:
idx=test['Col1']
test=test.drop(columns=drop_col)

In [0]:
nan_col_after_test=test.columns[test.isna().any()].tolist()
num_nan_after_test=test[nan_col_after].isna().sum()

In [0]:
nan_col_after_test

['Col27']

In [0]:
mean=test[nan_col_after].mean(axis=1)
test=test.fillna(method='ffill')
test.isna().any().sum()

0

In [0]:
test=test[imp_columns]

In [0]:
y=model.predict(train1)

In [0]:
y=pd.DataFrame(y)

In [0]:
y.shape

(17521, 1)

In [0]:
submission=pd.DataFrame()

In [0]:
submission['Col1']=idx
submission['Col2']=y

In [0]:
submission.to_csv('submission.csv',index=False)

In [0]:
submission.shape

(20442, 2)

In [0]:
submission['Col2'].nunique()

2